#!/usr/bin/expect -f

# Copyright: (c) 2022, Rudy Lei <shlei@cisco.com>

# Common Setup
set send_human {.1 .3 1 .05 2}
set timeout 900
set RETRY 600
set username {{ fabric.global_policies.aci_local_username }}

set switch_image {
    {{ fabric.global_policies.switch_image32 }}
    {{ fabric.global_policies.switch_image64 }}
}

# Human-like send procedure
proc send_human {cmd} {
    global send_human
    send -- $cmd
    sleep 1
}

set validator false

set ip {{ item.console_address }}
set port {{ item.console_port }}
puts "============================================================"
puts "connecting to $ip:$port ..."

# Start Telnet session
spawn telnet $ip $port

sleep 2
send_human "\n"

# Interaction sequence
expect {
    "(none)# " {
    }
    "login: " {
        sleep 60
        send -h -- "$username\n"
        exp_continue
    }
}

# Retrieve current switch version
send "show version | grep 'kickstart'\n"
expect "# "
set output $expect_out(buffer)

foreach image $switch_image {
    if {[string match "*$image*" $output]} {
        puts "ACI switch installation complete!"
        set validator true
    }
}

send_human "exit\n"
expect "logout"

send_human "\035"
expect "telnet>"

send_human "quit\r"
expect eof

puts "Telnet session complete!"

if {[string match "false" $validator]} {
    puts "ACI switch is not in target version!!"
    exit 1
}
