#!/usr/bin/expect -f

# Copyright: (c) 2022, Song Wang <songwa@cisco.com>

# Configuration
set send_human {.1 .3 1 .05 2}
set username "{{ fabric.global_policies.apic_cimc_username }}"
set password "{{ fabric.global_policies.apic_cimc_password }}"
set host "{{ item.cimc_address }}"

set apic_ipv4_oob "{{ item.apic_address}}/{{ fabric.global_policies.apic_netmask }}"
set apic_gateway  "{{ fabric.global_policies.apic_gateway }}"
set apic_password "{{ fabric.global_policies.aci_local_password }}"
set timeout 3600


# Human-like send procedure
proc send_human {cmd} {
    global send_human
    send -- $cmd
    sleep 1
}

# Start SSH session
spawn ssh -oStrictHostKeyChecking=no $username@$host

# Interaction sequence
expect {
    " password:" { send_human "$password\n" }
    timeout { exit 3 }
}

expect {
    "# " { send_human "connect host\n" }
    timeout { exit 3 }
}

expect {
    "Press any key to continue..." { send_human "\n" }
    timeout { exit 3 }
}
expect {
    "Welcome to APIC Setup Utility" { send_human "\n" }
    timeout { exit 3 }
}

expect {
    "Enter the password for admin" {
        send_human "$apic_password \n"
        exp_continue
    }
    "Reenter the password for admin" {
        send_human "$apic_password \n"
        exp_continue
    }
    "Enter the IP Address" {
        send_human "$apic_ipv4_oob\n"
    }
}
expect {
    "Enter the IP Address of default gateway" {
        send_human "$apic_gateway\n"
        exp_continue
    }
    "Would you like to edit the configuration?" {
        send_human "n\n"
    }
    timeout { exit 3 }
}

expect {
    "complete the bootstrapping"
    exit 0
    timeout { exit 3 }
}
