---
apic_mode: only_provided
apic_username: "{{ fabric.global_policies.aci_local_username }}"
apic_password: "{{ fabric.global_policies.aci_local_password }}"
apic_option_render: True
apic_option_configure: True
apic_option_delete: True
